.main {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 33px; /* Adjusted padding */
  color: #000000;
  font-size: inherit;
  font-family: 'Arimo', sans-serif;
  letter-spacing: 1px;
  background-color: #fff;
  z-index: 10;
}

.dropdown {
  display: none;
  top: 40px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

/* .scrollable-container {
  overflow-y: auto;
  max-height: 400px;
} */
.category-list-container{
  z-index: 2;
  /* transition: transform 0.3s ease-in-out;  */
}
.category-list-container.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 2;
}

.category-list {
  list-style-type: none;
  padding: 0;
}

.category-list li {
  position: relative;
  display: inline-block;
  margin-right: 56px;
  color: #000;
  font-weight: bolder;
  letter-spacing: 0.10em;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: 550;
  padding: 10px;
  display: block;
}
.category-list li:hover {
  border-bottom: 1px solid black;
}

li:hover .dropdown {

  display: block;
}

/* .hamburger-icon {
  display: none;
  cursor: pointer;
  z-index: 4;
} */

.sticky-header {
  /* Add your sticky header styles here */
  position: fixed;
  top: 0;
  width: 100%;
  /* z-index: 1000; */
}



.sticky-img img{
  width: 174px;
  height: 40px;
}

/* @media only screen and (max-width: 768px) {


} */

@media (max-width: 997px) {
  .main {
    display: none;
   }
   .sticky-header {
    display: none;
   }
}