.main {
    height: 60px;
    width: 1360px;
    display: flex;
    justify-content: space-around;
    padding-right: 560px;
    color: #000000;
    font-size: inherit;
    font-family:'Arimo',sans-serif; 
    font-style: 14px;
    letter-spacing: 1px;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: 550;
    padding: 10px;
    width: max-content;
    display: block;
  }
  
  li:hover .dropdown {
    display: block;
  }
  