/* ProfileSidebar.css */

.profile-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
  }
  
  .profile-sidebar h3 {
    margin-bottom: 20px;
  }
  
  .profile-sidebar button {
    margin-bottom: 15px;
    color: #000;
    background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  }
  
  .logout{
    background-color: #0056b3!important; 
    color: #fff!important;
    padding: 10px 20px!important;
    border: none!important;
    border-radius: 5px!important;
    cursor: pointer!important;
    font-size: 14px!important;
    margin-top: 35px!important;
  }