.top-header-mobile{
  display: none;
  /* width: 20%; */
}
/* .top-header-mobile{
  justify-content: center;
} */

.mobile-top{
  display: flex;
  justify-content: space-around;
}



.main-wrap {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: inherit;
  font: 15px "Arimo", sans-serif;
  letter-spacing: 0.5px;
}



.main-wrap img {
  height: 90px;
  width: 362px;
  margin-top: 14px;
  /* margin-left: 45px; */
}

.icon {
  color: rgb(159, 151, 151);
}

.wrapper-contents-icons{
  display: flex ;
   margin-bottom: 30px;
    justify-content: flex-end;
     margin-right:10px;
}

.content-wrap {
  display: flex;
  padding-left: 10px;
  gap: 5px;
}

.content:hover {
  cursor: pointer;
  color: rgb(159, 151, 151);
  text-decoration: underline;
}

.search {
  display: flex;
  position: relative;
  left: 10px;
}

.search input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 460px;
}

.search input::placeholder {
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1px;
  padding-left: 15px;
  opacity: 0.5;
  color: rgb(213, 203, 203);
}

.search-button {
  background-color: #00527b;
  color: white;
  font-size: 15px;
  padding: 8px;
  border: none;
  cursor: pointer;
  margin-left: -72px;
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius: 3px;
  width: 70px;
}
.cart-count {
  position: relative;
  left: 6px;
  bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: black;
  color: white;
}

@media (max-width: 997px) {

  .top-header-mobile{
    display: grid;
    margin-bottom: 21px;
  }
  
  .hamburger-icon{
    margin-top: 45px;
  }
  .content-wrap{
    margin-top: 45px;
  }

.main-wrap{
  display: none;
}

  .wrapper-contents-icons{
   display: none;
  }
  .search {
  right: 10px;
  }

  .search input {
    width: 96%;
  }
}


.category-list-wrapper {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 2;
}

.category-list-wrapper li {
  list-style-type: none;
  /* margin: 0; */
}

.category-list-wrapper a {
  text-decoration: none;
}

.category-list-wrapper.show {
  width: 200px; 
}
.dropdown-wrapper{
  width: 100%;
  top: 60px;
  z-index: 5;
  display: none;
  top: 40px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
} */
/* @media (max-width: 1280px) {
  .wrapper-contents {
    margin-right: 80px;
  }
} */

/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
  .main-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  /* .wrapper-contents {
    margin-top: 20px;
  } */

  .content-wrap {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* @media screen and (max-width: 430px) {
  .search input{
    width: 365px;
  }
} */
