.cart-data-container{
  display: flex;
}

.cart-page {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    font-family:'Arimo',sans-serif; 
    letter-spacing: 1px;
  }
  .cart-page img{
    height: 110px;
    width: 128px;

  }
  .cart-table-para{
    margin-top: 50px;
  }
  
  .cart-page h2 {
    color: #000;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart-table th,
.cart-table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.cart-table th{
    position: relative;
    left: 30px;
}

.cart-table td
{
    padding: 40px;
  }

/* .quantity-container {
  display: flex;
  align-items: center;
} */

.item-count{
    display:flex;
    justify-content: center;
    align-items: center;
     height:30px;
      width:30px;
      border: 1px solid #00527b;
        color: #00527b;
}

.arrow-button {
  margin: 0 9px;
  margin-top: 5px;
  font-size: 20px;
  cursor: pointer;
  color: #00527B;
}

.subtotal-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 10px;
  /* border-top: 1px solid #eee; */
}

.subtotal-label {
  font-size: 18px;
  color: #555;
}

.subtotal-amount {
  font-size: 20px;
  font-weight: bold;
  color: #00527B;
}
  

.cart-summary{
  width: 27%;
  height: auto;
  padding: 15px;
  background-color: #f5f5f5;
}
.summary-title{
  font-size: 28px;
  font-weight: 100;
}
.line{
  width: 100%;
  background-color: #ddd8d8;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.summary-para{

  font-size: 13px;
      font-weight: bold;
}

.subtotal-container-cart-page{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-family: "Lato",Helvetica,Arial,sans-serif;
  /* border-top: 1px solid #eee; */
}
.subtotal-label-cart-page ,
.subtotal-amount-cart-page
{
  font-size: 16px;
 font-weight: 100;

}
.payment-cart{
  height: 62px;
  width: 307px;
  border: 1px solid #ddd8d8;
  border-radius: 5px;
  font-size: 13px;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
}

.cart-checkout{
  margin-top: 20px;
}

.cart-checkout button{
  height: 50px;
  width: 100%;
  background-color: #00527B;
  color: #fff;
  border: 1px solid black;
}