.product-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .product-card h3 {
    margin: 10px 0;
  }
  
  .product-card p {
    margin: 5px 0;
  }
  
  .add-to-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .product-card:hover .add-to-cart {
    opacity: 1;
    cursor: pointer;
  }
  
  .plus-minus-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .add-to-cart:hover .plus-minus-tab {
    opacity: 1;
    cursor: default;
  }

  .sale-button {
    position: absolute;
   left: 20px;
    background-color: #009460;
    color: #FFFFFF;
    height: 25px;
    width: 100px;
    border: none;
  }
  