/* .container {
  width: 100%;
  max-width: 71%;
  margin: 0 auto;
} */


@media (min-width: 1400px) {
  .container {
    width: 100%;
    max-width: 71%;
    margin: 0 auto;
  }
  

}


.advanture {
  height:auto;
  width: auto;
}
.advanture img {
  width: 100%;
  border-radius: 9px;
}
.advanture p {
  font-family: "Arimo", sans-serif;
  text-align: center;
  font-size: 14px;
  color: rgb(83, 81, 81);
}

.product-info {
  margin-top: 94px;
}

/* .product-info p {
    font-size: 10px;
} */
/* ProductDetail.css */

/* .container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  } */

/* .arrow-button {
    background-color: #f0f0f0;
    border: none;
    padding: 8px;
    margin: 0 8px;
    cursor: pointer;
  }
   */

.item-count-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 146px;
  border: 1px solid black;
  margin-top: 10px;
}
.arrow-button-detail-minus {
  margin-right: 35px;
}

.arrow-button-detail-plus {
  margin-left: 45px;
}

.add-to-cart-button {
  background-color: #00527b;
  color: #fff;
  border: none;
  padding: 18px 187px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
.arrow-button-detail {
  margin: 10px;
}

.payment-content-1 {
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  position: relative;
  top: 21px;
  height: 65px;
  width: 716px;
  display: flex;
  font-size: 14px;
  font-family: inherit;
  align-items: center;
  letter-spacing: 1px;
}

.payment-content-2 {
  border: 1px solid #c6c6c6;
    border-radius: 10px;
    /* padding-top: 10px; */
    height: 65px;
    width: 862px;
    display: flex;
    font-size: 14px;
    font-family: inherit;
    align-items: center;
  margin-top: 34px;
  letter-spacing: 1px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th,
.product-table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
}

.swiper-image {
  width: 100%;
}


.details-header{
  text-align: center;
  margin: 58px;
}
.product-table-header{
  width: 185px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #00527b;
}
.product-name-header{
  font-size: 26px;
  margin-right: 64px;
}
.price-kd{
  color: black;
    font-size: 22px;
    font-weight: bold;
    margin-right: 694px;
    margin: 41px;
    position: relative;
    right: 36px;
}
.product-details{
  display: flex;
   gap: 40px; 
   font-family: "Lato", Helvetica, Arial, sans-serif;
}
.product-detail-image{
  margin-top: 54px;
}

@media (max-width: 767px) {
  .product-details{
    flex-direction: column;
  }
  .product-name-header{
    margin-right: 621px;
  }
  .price-kd{
    right: 34px;
  }

}


/* @media (max-width: 600px) {
  .swiper-image {
    width: 28%;
  }
}
@media (max-width: 768px) {
  .swiper-image {
    width: 28%;
  }
} */
@media (max-width: 767px) {
  .swiper-button-prev-2 {
    left: 20px !important;
  }
  .swiper-button-next-2 {
    right: 20px !important;
  }
  .category-list li {
    display: block !important;
  }
  .category-list {
    width: 100% !important;
  }
  .product-card img {
    margin: auto !important;
  }
  .product-card a {
    text-align: center !important;
  }
  .nav-footer-menu1-container,
  .nav-footer-menu2-container,
  .nav-footer-menu3-container {
    width: 100% !important;
  }
  .footer-middle-section2 {
    right: 0 !important;
  }
  .main-wrap img {
    width: 295px !important;
  }
  .brand-logo {
    width: 80%;
    margin: auto;
  }
  .brand-logo img {
    width: 100%;
  }
}
