.header-global-promo {
  background-color: #00527b;
  position: relative;
  width: 100%;
  max-width: 1560px; /* Set a fixed max-width */
  margin: 0 auto; /* Center the container */
  padding: 10px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next-2,
.swiper-button-prev-2 {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  cursor: pointer;
}

.swiper-button-next-2 {
  right: 20px; /* Fixed pixel value */
}

.swiper-button-prev-2 {
  left: 20px; /* Fixed pixel value */
}

.aftr-bx {
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  font-family: sans-serif;
}

/* Media Query for Small Screens */
@media only screen and (max-width: 600px) {
  .swiper-button-next-2,
  .swiper-button-prev-2 {
    font-size: 18px; /* Adjusted font size for smaller screens */
  }
}
@media only screen and (max-width: 1366px) {
  .swiper-button-next-2 {
    right: 64px;
  }
}
